@use '../base/variables';
@use '../utils/functions';
@use '../utils/mixins';
@use 'sass:color';

.btn {
    @include mixins.transition(background-color);

    width: 100%;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;

    font-size: variables.$font-size-base;
    font-weight: 600;
    line-height: 1.5;

    color: variables.$secondary-color;
    background-color: variables.$accent-color;
    border: none;
    border-radius: variables.$border-radius;

    cursor: pointer;

    &:hover {
        background-color: color.adjust(variables.$accent-color, $lightness: -10%);
        border-color: color.adjust(variables.$accent-color, $lightness: -10%);
    }

    &:focus {
        outline: none;
        box-shadow: functions.custom-box-shadow(0.2rem, rgba(variables.$primary-color, 0.5));
    }
}