@use '../base/variables';
@use '../utils/functions';
@use '../utils/mixins';

.card {
    @include mixins.flexbox($flex-direction: column);
    flex: 1 1 calc(33% - 1rem);

    margin: 1rem 0;
    cursor: pointer;

    border: 1px solid variables.$dark-accent-color;
    border-radius: variables.$border-radius;

    &:hover {
        box-shadow: functions.custom-box-shadow(0.75rem, rgba(0, 0, 0, 0.2));
    }

    img {
        display: block;
        width: 100%;
        height: 13rem;
        object-fit: cover;
    }

    .card-body {
        padding: variables.$padding-regular;

        @include mixins.respond-to(small) {
            padding: 0.5rem;
        }

        @include mixins.respond-to(medium) {
            padding: 0.75rem;
        }

        @include mixins.respond-to(large) {
            padding: variables.$padding-regular;
        }
    }

    h3 {
        margin: 0.5rem 0;
        padding: 0 1rem;

        font-size: 1.75rem;
        text-align: center;
        color: variables.$subheading-color;

        @include mixins.respond-to(small) {
            font-size: 1.375rem;
        }

        @include mixins.respond-to(medium) {
            font-size: 1.5625rem;
        }

        @include mixins.respond-to(large) {
            font-size: 1.75rem;
        }
    }

    h5 {
        margin-bottom: 0.5rem;
        padding: 0.75rem 0;

        font-size: 1.25rem;
        color: variables.$subheading-color;

        @include mixins.respond-to(small) {
            font-size: variables.$font-size-base;
        }

        @include mixins.respond-to(medium) {
            font-size: 1.125rem;
        }

        @include mixins.respond-to(large) {
            font-size: 1.25rem;
        }
    }

    p {
        margin-bottom: variables.$margin-botton-regular;

        @include mixins.respond-to(small) {
            margin-bottom: 0.75rem;
        }

        @include mixins.respond-to(medium) {
            margin-bottom: 0.85rem;
        }

        @include mixins.respond-to(large) {
            margin-bottom: variables.$margin-botton-regular;
        }
    }
}

.product-card {
    margin: 0.625rem;
    padding: 0.625rem;
    min-width: 21.875rem;
    height: 100%;

    cursor: pointer;
    text-align: center;

    &:hover {
        box-shadow: functions.custom-box-shadow(0.75rem, rgba(0, 0, 0, 0.2));
    }

    img {
        flex-grow: 1;

        max-height: 25rem;
        width: 100%;
        margin-bottom: variables.$margin-botton-regular;

        object-fit: contain;
    }

    h3 {
        margin-top: auto;
    }
}