@use '../base/variables';
@use '../utils/functions';
@use "../utils/mixins";

.modal {
    display: none;

    position: fixed;
    top: 50%;
    left: 50%;

    width: 100%;
    max-width: 50rem;
    max-height: 90vh;
    padding: variables.$padding-regular;

    transform: translate(-50%, -50%);
    z-index: 1000;

    background: variables.$modal-bg;
    border: 1px solid #00000033;
    border-radius: 0.5rem;
    box-shadow: functions.custom-box-shadow(0.375rem, rgba(0, 0, 0, 0.1));

    &.open {
        display: block;
    }

    .modal-content {
        @include mixins.flexbox($align-items: none, $flex-direction: column);

        max-height: 80vh;
        overflow-y: auto;

        .modal-header {
            @include mixins.flexbox($justify-content: space-between);

            padding-bottom: 0.5rem;
            margin-bottom: variables.$margin-botton-regular;

            border-bottom: 1px solid variables.$modal-border-color;

            .close-button {
                @include mixins.transition(color);

                font-size: 1.5rem;
                color: variables.$primary-color;

                background: none;
                border: none;
                cursor: pointer;

                &:hover {
                    color: variables.$accent-color;
                }
            }
        }

        .modal-body {
            @include mixins.flexbox($flex-direction: column);

            img {
                max-height: 20rem;
                width: 100%;
                border-radius: 0.25rem;
                object-fit: contain;
                align-self: center;
            }
        }

        .modal-footer {
            @include mixins.flexbox();

            padding-top: 0.5rem;
            margin-top: 1rem;

            border-top: 1px solid variables.$modal-border-color;

            .close-button {
                @include mixins.transition(background-color, color);

                padding: 0.5rem 1rem;
                cursor: pointer;

                font-size: variables.$font-size-base;

                color: variables.$modal-bg;
                background-color: variables.$accent-color;
                border: 1px solid variables.$accent-color;
                border-radius: 0.25rem;

                &:hover {
                    background-color: variables.$accent-color;
                    color: variables.$modal-bg;
                }
            }
        }
    }
}

.modal-backdrop {
    display: none;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 999;

    background-color: rgba(0, 0, 0, 0.5);
}

.modal.open~.modal-backdrop {
    display: block;
}